body {
  background: url(bkg.png) repeat #c5ccd4;
  font-family: Helvetica, arial, sans-serif;
}
.congrats {
  font-size: 16pt;
  padding: 6px;
  text-align: center;
}
.step {
  background: white;
  border: 1px #ccc solid;
  border-radius: 14px;
  padding: 4px 10px;
  margin: 10px 0;
}
.instructions {
  font-size: 10pt;
}
.arrow {
  font-size: 15pt;
}
table {
  width: 100%;
}
